@{
    ViewBag.Title = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="#">
                <img style="width: 100%" src="~/Content/CitImage/20-11-2018.jpg">
            </a>

        </div>
        <div class="item">
            <a href="http://cit.udn.vn/tin-tuc/le-khai-giang-nam-hoc-2018-2019-va-trao-bang-tot-nghiep-nam-2018.html">
                <img style="width: 100%" src="~/Content/CitImage/can-bo.jpg">
            </a>

        </div>
        <div class="item">
            <a href="http://cit.udn.vn/tin-tuc/cita-2018-dien-dan-cho-cac-nha-khoa-hoc-tre.html">
                <img style="width: 100%" src="~/Content/CitImage/cita2017.jpg">
            </a>

        </div>
        <div class="item">
            <a href="http://tuyensinh.cit.udn.vn" target="_blank">
                <img style="width: 100%" src="~/Content/CitImage/etc-2017.jpg">
            </a>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div class="container-fluid">
    <blockquote class="row">
        <div class="col-md-4" style="padding-top:15px;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VKaV8UJwuHM"
                        frameborder="0" allow="accelerometer; autoplay;
                        encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-8" style="font-family: Helvetica Neue !important">
            <h3 style="color: #6e6e6e;">Tổng quan về trường CĐ Công nghệ Thông tin - ĐH Đà Nẵng			</h3>
            <div style="display: inline-block;height: 3px; width: 50px; position: relative;background-color: #029EB7;margin: 0 0 10px 0;"></div>
            <br>
            <div class="content">
                Trường Cao đẳng Công nghệ Thông tin - Đại học Đà Nẵng là trường cao đẳng công lập chuyên ngành công nghệ thông tin được thành lập theo quyết định số 5553/QĐ-BGD&amp;ĐT-TCCB ngày 14/10/2003 của Bộ trưởng Bộ Giáo dục và Đào tạo, và đã tuyển sinh khóa đầu tiên vào tháng 10/2006.
                Trường Cao đẳng Công nghệ Thông tin là một trường thành viên của Đại học Đà Nẵng, có nhiệm vụ đào tạo nguồn nhân lực công nghệ thông tin chất lượng cao góp phần tích cực vào sự phát triển của nền công nghiệp công nghệ thông tin Việt Nam, đồng thời tiến hành nghiên cứu khoa học và chuyển giao công nghệ thông tin tiên tiến, đặc biệt là hướng vào các ứng dụng nhằm góp phần đẩy mạnh sự nghiệp công nghiệp hóa, hiện đại hóa đất nước.			<br><br>
                <a href="gioi-thieu/gioi-thieu-chung.html">
                    Xem tiếp
                </a>
            </div>
        </div>
    </blockquote>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="tintuc">
                    <h4>TIN TỨC - SỰ KIỆN</h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="">
                        LỄ KỶ NIỆM 36 NĂM NGÀY NHÀ GIÁO VIỆT NAM 20/11
                        NĂM HỌC 2018-2019
                        (21/11/2018)
                    </a>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="~/Content/CitImage/a.jpg" width="150px" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>
                                Hòa chung với khí thế tưng bừng,
                                phấn khởi của ngành giáo dục cả nước kỉ niệm
                                36 năm ngày nhà giáo Việt nam (20/11/1982 – 20/11/2018).
                                Sáng ngày 20/11/2018 Trường Cao đẳng Công nghệ Thông tin
                                và Khoa Công nghệ Thông tin – Đại học Đà Nẵng đã long
                                trọng tổ chức lễ kỉ niệm 36 năm ngày Nhà giáo Việt Nam
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="">
                        LÃNH ĐẠO TRƯỜNG CĐ CÔNG NGHỆ THÔNG TIN
                        CHIA SẺ KINH NGHIỆM ĐÀO TẠO KHỞI NGHIỆP
                        TẠI HỘI THẢO "ĐÀO TẠO THEO ĐỊNH HƯỚNG ỨNG
                        DỤNG VÀ KHỞI NGHIỆP
                    </a>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="~/Content/CitImage/a.jpg" width="150px" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>
                                Hòa chung với khí thế tưng bừng,
                                phấn khởi của ngành giáo dục cả nước kỉ niệm
                                36 năm ngày nhà giáo Việt nam (20/11/1982 – 20/11/2018).
                                Sáng ngày 20/11/2018 Trường Cao đẳng Công nghệ Thông tin
                                và Khoa Công nghệ Thông tin – Đại học Đà Nẵng đã long
                                trọng tổ chức lễ kỉ niệm 36 năm ngày Nhà giáo Việt Nam
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="">
                        TẬP HUẤN SỬ DỤNG THIẾT BỊ LORA
                        CHUẨN BỊ CHO VIỆC XÂY DỰNG TRƯỜNG
                        HỌC THÔNG MINH
                    </a>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="~/Content/CitImage/a.jpg" width="150px" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>
                                Hòa chung với khí thế tưng bừng,
                                phấn khởi của ngành giáo dục cả nước kỉ niệm
                                36 năm ngày nhà giáo Việt nam (20/11/1982 – 20/11/2018).
                                Sáng ngày 20/11/2018 Trường Cao đẳng Công nghệ Thông tin
                                và Khoa Công nghệ Thông tin – Đại học Đà Nẵng đã long
                                trọng tổ chức lễ kỉ niệm 36 năm ngày Nhà giáo Việt Nam
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="tinhoptac">
                    <h4>TIN HỢP TÁC QUỐC TẾ</h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="">
                        HỘI THẢO CÔNG CỤ ĐÁNH GIÁ VÀ GIẢI PHÁP
                        PHÁT TRIỂN CÁC ĐƠN VỊ ĐÀO TẠO ĐẠI HỌC
                        - DỰ ÁN HỖ TRỢ PHÁT TRIỂN KHỞI NGHIỆP
                        TRONG LĨNH VỰC CÔNG NGHỆ THÔNG TIN Ở
                        CÁC TRƯỜNG ĐẠI HỌC VIỆT NAM (ICTENTR)
                        - ERASMUS+ (14/12/2017)
                    </a>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="~/Content/CitImage/a.jpg" width="150px" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>
                                Hòa chung với khí thế tưng bừng,
                                phấn khởi của ngành giáo dục cả nước kỉ niệm
                                36 năm ngày nhà giáo Việt nam (20/11/1982 – 20/11/2018).
                                Sáng ngày 20/11/2018 Trường Cao đẳng Công nghệ Thông tin
                                và Khoa Công nghệ Thông tin – Đại học Đà Nẵng đã long
                                trọng tổ chức lễ kỉ niệm 36 năm ngày Nhà giáo Việt Nam
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="">
                        HỘI NGHỊ THƯỢNG ĐỈNH TOÀN CẦU 2017 -
                        NHIỀU Ý TƯỞNG VÀ SẢN PHẨM KHỞI NGHIỆP,
                        SÁNG TẠO XUẤT SẮC KHẮP THẾ GIỚI
                        (06/12/2017)
                    </a>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="~/Content/CitImage/a.jpg" width="150px" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>
                                Hòa chung với khí thế tưng bừng,
                                phấn khởi của ngành giáo dục cả nước kỉ niệm
                                36 năm ngày nhà giáo Việt nam (20/11/1982 – 20/11/2018).
                                Sáng ngày 20/11/2018 Trường Cao đẳng Công nghệ Thông tin
                                và Khoa Công nghệ Thông tin – Đại học Đà Nẵng đã long
                                trọng tổ chức lễ kỉ niệm 36 năm ngày Nhà giáo Việt Nam
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="">
                        TRƯỜNG CĐ CÔNG NGHỆ THÔNG TIN ĐÓN TIẾP
                        ĐẠI DIỆN TỔNG LÃNH SỰ QUÁN HOA KỲ
                        (04/08/2016)
                    </a>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="~/Content/CitImage/a.jpg" width="150px" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>
                                Hòa chung với khí thế tưng bừng,
                                phấn khởi của ngành giáo dục cả nước kỉ niệm
                                36 năm ngày nhà giáo Việt nam (20/11/1982 – 20/11/2018).
                                Sáng ngày 20/11/2018 Trường Cao đẳng Công nghệ Thông tin
                                và Khoa Công nghệ Thông tin – Đại học Đà Nẵng đã long
                                trọng tổ chức lễ kỉ niệm 36 năm ngày Nhà giáo Việt Nam
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading" id="videoclip">
                    <h4>VIDEO CLIP</h4>
                </div>
                <div class="panel-body">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/f.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/e.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/b.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/d.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/c.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/d.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/e.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/f.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/e.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/f.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/b.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/c.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/f.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/nature.jpg">
                                                <img src="~/Content/CitImage/e.jpg" alt="Nature" style="width:100%">
                                                <div class="caption">
                                                    <p>Lorem ipsum...</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/f.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/b.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/d.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <a href="/w3images/lights.jpg">
                                                <img src="~/Content/CitImage/c.jpg" alt="Lights" style="width:100%">
                                            </a>
                                            <div class="caption text-center">
                                                <p>Video A</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading" id="fanpage">
                    <h4>FANPAGE FACEBOOK</h4>
                </div>
                <div class="panel-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>
    
