################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cloneCit/v15
/.vs/GiaodienCIT.udn/v15/Server/sqlite3
/packages
/GiaodienCIT.udn/bin
/.vs/GiaodienCIT.udn/v15
/.vs/config
/.vs/VSWorkspaceState.json
/GiaodienCIT.udn/obj/Debug
/GiaodienCIT.udn/obj/Release/GiaodienCIT.udn.csproj.CoreCompileInputs.cache
