body {
}
#logo{
    margin:5px 0;
    margin-left:10px;
}
#logo-left{
    padding:0px 15px;
}
#logo-left img{
    width:100%;
   
}
#logo-right {
    margin-top:-10px;
    padding-top:10px;
    
    float: right;
    background-color: #ff6a00;
    width: 460px;
    height: 35px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    background-color: #de4f01;
}
@media (max-width: 992px){
    #logo-right{
        display:none;
    }
} 
#logo-right a {
    color:white;
}
.navbar{
    margin-bottom:0px;
}
.navbar-default {
    background-color: #de4f01;
    border-color: #de4f01;
    border-radius: 0px;
}

    .navbar-default .navbar-brand {
        color: #ffffff;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #000000;
        }

    .navbar-default .navbar-text {
        color: #ffffff;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
        font-weight: bold;
        
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #000000;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #000000;
        background-color: #ffffff;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #000000;
        background-color: #ffffff;
    }

    .navbar-default .navbar-toggle {
        border-color: #ffffff;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #ffffff;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        
    }

    .navbar-default .navbar-link {
        color: #ffffff;
    }

        .navbar-default .navbar-link:hover {
            color: #000000;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #000000;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #ffffff;
    }
}
blockquote {
    margin:15px !important;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    font-family: serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    border-left: 15px solid #e00018;
    border-right: 2px solid #c76c0c;
    box-shadow: 2px 2px 15px #ccc;
}
.panel-heading a {
    color: #de4f01;
}
#tintuc, #tinhoptac,#videoclip,#fanpage {
    border-left: 5px solid #e00018;
}
footer {
    background-color: #de4f01;
    color:white;
    
}
@media (max-width:767px){
    footer{
        font-size:12px;
    }
    footer #logo-footer{
        display:none;
    }
}